* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;/* Блочный элемент */
}

body {
    font: 12px/18px Arial, sans-serif; /*Характеристики шрифта */
    height: 100%;
    margin: 1em 1em 1em 1em; /* Отступы вокруг элемента */
    background-color: #3EA2FF;
    background-image: url(images/background.png);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;

}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 136px;
    font: 8em Georgia;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff, 0 0 10px #006400;
    color: #006400;
}

#logo {
    float: left;
    margin: 10px 50px 10px 50px;  /* Отступы вокруг элемента */
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;/* Поля вокруг текста */
    width: 900px;
    margin: auto;
    border: solid 1px #3EA2FF;
}

/*Menu*/
#menu {
    font: 2em Georgia;
    font-style: italic;
    text-align: center;
    margin: 0 0 0.5em 0;  /* Отступы вокруг элемента */
}

tr {
    background: #006400; /* Цвет фона */
}

a {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 0.1em 2em; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
}

td:hover {
    background: #3EA2FF; /* Цвет фона при наведении курсора мыши */
}

/*Form*/

#form {
    float: right;
    margin: 2em 2em 2em 2em; /* Отступы вокруг элемента */
    padding: 1em 1em 1em 1em;
    border: 0.3em solid #006400;
    border-radius: 1.5em;
    font: 120% Georgia;
}

#signIn {
    text-align: center;
    margin: 0.1em 0.1em;  /* Отступы вокруг элемента */
    font-size: 140%;
    color: #006400;
}

.form {
    border: 0.2em solid #006400;
    border-radius: 0.5em;
    margin: 0.2em 0.1em;  /* Отступы вокруг элемента */
    outline: none;

}

/*Information */
#info {
}

#imgCart {
    float: left;
    margin: 0 1em 1em 0; /* Отступы вокруг элемента */
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -100px auto 0; /* Отступы вокруг элемента */
    min-width: 800px;
    height: 100px;
    background: #afffbe;
    position: relative;
}