* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-image: url(../images/seamless-texture-416.jpg);
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;/* Блочный элемент */
}

body {
    font: 12px/18px Arial, sans-serif; /*Характеристики шрифта */
    height: 100%;
    margin: 1em 1em 1em 1em; /* Отступы вокруг элемента */
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    width: 900px;
    margin:2em auto auto auto;
    border: solid 1px #01AF1C;
    border-radius: 2em;
    background-color: #e4ffe2;
 }

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 136px;
    font: 8em Georgia;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 2px #41FE0C, 0 0 10px #006400;
    color: #006400;
}

#logo {
    float: left;
    margin: 10px 50px 10px 50px;  /* Отступы вокруг элемента */
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 1em;/* Поля вокруг текста */

}

/*Menu*/

#menu {
    font: 2em Georgia;
    font-style: italic;
    text-align: center;
    margin: 0 0 0.5em 0;  /* Отступы вокруг элемента */
}

tr {
    background: #006400; /* Цвет фона */
    background: linear-gradient(to top, #41fe0c, #006400)
}

a {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    text-decoration: none; /* Убираем подчёркивание */
}

td:hover {
    background: #3EA2FF; /* Цвет фона при наведении курсора мыши */
}

/*Form*/

#form {
    float: right;
    margin: 2em 2em 2em 2em; /* Отступы вокруг элемента */
    padding: 1em 1em 1em 1em;
    border: 0.3em solid #006400;
    border-radius: 1.5em;
    font: 120% Georgia;
}

#signIn {
    text-align: center;
    margin: 0.1em 0.1em;  /* Отступы вокруг элемента */
    font-size: 140%;
    color: #006400;
}

.form {
    border: 0.2em solid #006400;
    border-radius: 0.5em;
    margin: 0.2em 0.1em;  /* Отступы вокруг элемента */
    outline: none;

}

/*Information */

#info {
}

#imgCart {
    float: left;
    margin: 0 1em 1em 0; /* Отступы вокруг элемента */
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: 3em auto 0; /* Отступы вокруг элемента */
    height: 100px;
    width: 900px;
    position: relative;
}